.leftSideBar i {
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #cfcfcf;
  display: block;
  text-shadow: 1px 1px 10px #00070e;
}

.leftSideBar #book-icon:hover {
  color: #ffffff;
  transform: rotate(10deg);
}

.leftSideBar #info-icon:hover {
  color: #ffffff;
  transform: rotate(10deg);
}

.leftSideBar #chat-icon:hover {
  color: #ffffff;
  transform: rotate(10deg);
}

.leftSideBar #premium-icon:hover {
  color: #ffffff;
  transform: rotate(10deg);
}
.leftSideBar #contacts-icon:hover{
  color: #ffffff;
  transform: rotate(10deg);
}
