* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

.leftSideBar {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  background-color: #000a13;
  overflow-x: hidden;
}

.mainBox {
  margin-left: 10px;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  background-color: #dddddd;
  overflow-x: hidden;
}

.main {
  background-color: #fff;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  display: flex;
  margin-left: 70px;
  margin-right: 35px;
  margin-top: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
