* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

.leftSideBar {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  background-color: #000e1a;
  overflow-x: hidden;
  box-shadow: 1px 1px 10px #000000;
}

.leftSideBar a{
  text-decoration: none;
  outline: none;
}

.mainBox {
  margin-left: 10px;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
  background-color: #00080f;
  overflow-x: hidden;
}

.main {
  background-color: #000e1a;
  color: #ffffff;
  padding: 15px 15px 15px 15px;
  display: flex;
  margin-left: 70px;
  margin-right: 35px;
  margin-top: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: 1px 1px 10px #000000;
}

